<h1>Crear Nuevo Barco</h1>
<form (ngSubmit)="crear()">
    <div class="form-grid">
        <div class="form-group">
            <label for="nombre">Nombre</label>
            <input type="text" name="nombre" id="nombre" [(ngModel)]="barco().nombre" required />
        </div>
        <div class="form-group">
            <label for="modeloId">Modelo</label>
            <select id="modeloId" name="modeloId" [(ngModel)]="barco().modeloId" required>
                <option value="" disabled selected>Seleccione un modelo</option>
                @for(modelo of modelos(); track modelo.id) {
                    <option [value]="modelo.id">{{ modelo.id }} - {{ modelo.nombreModelo }}</option>
                }
            </select>
        </div>
        <div class="form-group">
            <label for="velocidadX">Velocidad X</label>
            <input id="velocidadX" type="number" name="velocidadX" [(ngModel)]="barco().velocidadX"/>
        </div>
        <div class="form-group">
            <label for="velocidadY">Velocidad Y</label>
            <input id="velocidadY" type="number" name="velocidadY" [(ngModel)]="barco().velocidadY"/>
        </div>
        <div class="form-group">
            <label for="posicionX">Posición X</label>
            <input id="posicionX" type="number" name="posicionX" [(ngModel)]="barco().posicionX" />
        </div>
        <div class="form-group">
            <label for="posicionY">Posición Y</label>
            <input id="posicionY" type="number" name="posicionY" [(ngModel)]="barco().posicionY" />
        </div>
        <div class="form-group">
            <label for="jugadorId">Jugador</label>
            <select id="jugadorId" name="jugadorId" [(ngModel)]="barco().jugadorId">
                <option value="">Seleccione un jugador (opcional)</option>
                @for(jugador of jugadores(); track jugador.id) {
                    <option [value]="jugador.id">{{ jugador.id }} - {{ jugador.nombre }}</option>
                }
            </select>
        </div>
        <div class="form-group">
            <label for="celdaId">Celda</label>
            <select id="celdaId" name="celdaId" [(ngModel)]="barco().celdaId">
                <option value="">Seleccione una celda (opcional)</option>
                @for(celda of celdas(); track celda.id) {
                    <option [value]="celda.id">{{ celda.id }} - {{ celda.tipo }} ({{ celda.posicionX }}, {{ celda.posicionY }})</option>
                }
            </select>
        </div>
    </div>
    <div class="button-group">
        <button type="submit">Crear Barco</button>
        <button type="button" class="btn-cancel" (click)="cancelar()">Cancelar</button>
    </div>
</form>
