<h1>Barco View</h1>
<div>
  <p><strong>ID:</strong> {{ barco().id }}</p>
  <p><strong>Nombre:</strong> {{ barco().nombre }}</p>
  <p><strong>Velocidad X:</strong> {{ barco().velocidadX }}</p>
  <p><strong>Velocidad Y:</strong> {{ barco().velocidadY }}</p>
  <p><strong>Posición X:</strong> {{ barco().posicionX }}</p>
  <p><strong>Posición Y:</strong> {{ barco().posicionY }}</p>
  <p><strong>Modelo ID:</strong> {{ barco().modeloId }}</p>
  <p><strong>Jugador ID:</strong> {{ barco().jugadorId }}</p>
  <p><strong>Celda ID:</strong> {{ barco().celdaId }}</p>
  <p><strong>Nombre del Modelo de Barco:</strong> {{ barco().nombreModeloBarco }}</p>
  <p><strong>Nombre del Jugador:</strong> {{ barco().nombreJugador }}</p>
  <p><strong>Tipo de Celda:</strong> {{ barco().tipoCelda }}</p>
</div>
