<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Editar Jugador</title>
    <link rel="stylesheet" href="css/estilo.css">
</head>
<body>
    <h1>Editar Datos del Jugador</h1>
    <form action="/jugador/save" method="post">
        <input type="hidden" name="id" th:value="${jugador.id}">
        <label>Nombre:</label>
        <input type="text" id="nombre" name="nombre" th:value="${jugador.nombre}">
        <button type="submit">Save</button>
    </form>
    <p>
        <a th:href="@{/jugador/barcos/edit/{id}(id=${jugador.id})}">Edit Barcos</a>
    </p>
</body>
</html>